/* HTML Elements */
body {
  background-color: #EFF5F5;
  font-family: 'Kanit', sans-serif;
  margin-bottom: 0;
}

hr {
  display: none;
  border-width: 20px;
  border-style: dotted;
  width: 5%;
  border-bottom: 0;
  border-color: #D6E4E5;
}

/* homepage Section */
.pp {
  border-radius: 500px;
  height: 300px;
  position: relative;
  top: 100px;
  left: 350px;
}

.homepage-text {
  position: relative;
  left: 700px;
  bottom: 300px;
  margin-top: 130px;
}

.hm-button {
  color: white;
  margin-right: 12px;
  padding: 10px;
  text-decoration: none;
  border-radius: 600px;
  border-width: thin;
  border-style: solid;
}

.hm-button:hover {
  background-color: black;
  border-color: black;
}

.btn1 {
  background-color: #6C4AB6;
  border-color: #6C4AB6;
}

.btn2 {
  background-color: #8D9EFF;
  border-color: #8D9EFF;
}

.btn3 {
  background-color: #FF8DC7;
  border-color: #FF8DC7;
}

/* personal information Section */
.personal-info {
  background-color: #ede9f7;
  padding: 50px 0;
}

.pp-text {
  color: #6C4AB6;
}

/* Achievements & Awards Section */
.Achievements-Awards {
  background-color: #e1e6ff;
  color: #3a57ff;
  padding: 50px 0;
}

/* contact Section */
.contact {
  background-color: #ff0082;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.con-tx {
  color: white;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.con-tx:hover {
  color: #ffb7dc;
}

.copyright {
  color: #ffc4e2;
  font-family: serif;
}

/* ------------------------------Media Query------------------------------ */
@media (max-width: 1028px) {

  /* homepage Section */
  .pp {
    height: 685px;
    left: 110px;
    top: 450px;
  }

  .homepage-text {
    position: static;
    text-align: center;
    padding-top: 400px;
  }

  .ht1 {
    font-size: 130px;
  }

  .ht2 {
    font-size: 65px;
    margin-bottom: 0;
  }

  .hp1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 180px;
  }

  .br {
    display: none;
  }

  .hm-button {
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    display: block;
  }

  .btn1 {
    position: absolute;
    top: 30px;
    left: 250px;
  }

  .btn2 {
    position: absolute;
    top: 150px;
    left: 235px;
  }

  .btn3 {
    position: absolute;
    top: 270px;
    left: 400px;
  }

  /* personal information Section */
  .personal-info {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .pp-h1 {
    font-size: 130px;
    padding-bottom: 100px;
  }

  .pp-p {
    font-size: 65px;
  }

  /* Achievements & Awards Section */
  .Achievements-Awards {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .aa-h1 {
    font-size: 130px;
    padding-bottom: 100px;
  }

  .aa-p {
    font-size: 65px;
  }

  /* contact Section */
  .con-tx {
    font-size: 70px;
    margin-left: 70px;
    margin-right: 70px;
  }
}
